Src/DataAccess/bin/
Src/DataAccess/obj/
Src/DTOLib/obj/
Src/Logic/obj/
Src/Logic/bin/
Src/SimpleCrmApi/bin/
Src/SimpleCrmApi/obj/
Src/SimpleCrmApi/.vs/SimpleCrmApi/v16/.suo
Src/SimpleCrmApi.Tests/obj/
Src/SimpleCrmApi/.vs/
Src/DTOLib/bin/
Src/SimpleCrmApi.Tests/bin/
Src/SimpleCrmApi/Properties/PublishProfiles/FTPProfile.pubxml.user
mypublish/
Src/Common/bin/
Src/Common/obj/
Src/.vs/SimpleCrmApi/v17/
